**/opencv2.framework/Versions/A/opencv2 filter=lfs diff=lfs merge=lfs -text
*opencv2.framework filter=lfs diff=lfs merge=lfs -text
react-native/react-native-totvs-clockin-vision-app/ios/frameworks/opencv2.framework/Versions/A/opencv2 filter=lfs diff=lfs merge=lfs -text
